pyyaml>=6.0.2
pydantic>=2.10.6
pandas>=2.2.3
python-dotenv>=1.0.1
litellm==1.55.12
rich>=13.9.4
sqlmodel>=0.0.22
typer[all]>=0.15.1
scikit-learn>=1.6.1
openpyxl>=3.1.5
asyncio>=3.4.3
aiohttp>=3.9.5
vllm>=0.4.0
ray[default]>=2.10.0
diskcache>=5.6.3
fastapi>=0.110.0
uvicorn>=0.29.0